table {
    margin: 0%;
    margin-top: 11%;
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
}

td, th {
    border: 3px solid #ff4400;
    text-align: center;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #ffffffa6;
}